.header {
    background-color: #130f40;
    color: white;
    padding: 20px;
}

.header .website-name {
    font-size: 20px;
    margin-right: 20px;
}

.header .website-menu {
    font-size: 14px;
}

.header .website-menu a {
    color: white;
}

.content {
    background-color: #dff9fb;
    padding: 20px;
    float: left;
}

.footer {
    background-color: #30336b;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.container {
    background-color: #ffbe76;
    display: table;
    width: 800px;
    margin: auto;
}

.sidebar {
    background-color: #7ed6df;
    padding: 20px;
    width: 100px;
    float: left;
}

.sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    color: #f0932b;
}

body, h1, h2{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.isi {
    text-align: left;
}

#isi2 {
    text-align: left;
}